/build
/dist
/error.log
/managepdf.ps1
/PDFManager.spec
/pdf_manager.spec
/installer_64/
/test/
temp/
src/tabs/__pycache__/
src/utils/__pycache__/
build_tools/PDFManager_PyInstaller_Setup.iss
src/__pycache__/
imagick_portable_64/
poppler_portable_64/