/build
/dist
/error.log
/managepdf.ps1
/PDFManager.spec
/pdf_manager.spec
/venv32
imagick_portable/
imagick_portable_64/
/installer_64/
/installer_32/
convert.py
bfg-1.15.0.jar
/test/
temp/
poppler_portable_64/
src/tabs/__pycache__/
src/utils/__pycache__/
build_tools/PDFManager_PyInstaller_Setup.iss
src/__pycache__/
